com.mia.studio.ide-2015-09-10_11-50-35.gtk.x86_64/plugins/com.mia.studio.common.resources_9.2.0.201509100953/resources/dtd_xsd/generation/project.dtd

<!ELEMENT	project	(fileHeader?, element*)>
<!ATTLIST	project
				name			CDATA	#REQUIRED
				documentation	CDATA	#IMPLIED
				number			CDATA	#IMPLIED
				>

				
<!ELEMENT fileHeader	EMPTY>
<!ATTLIST fileHeader	
				version				CDATA	#REQUIRED
				date				CDATA	#IMPLIED
				timestamp			CDATA	#IMPLIED
				toolName			CDATA	#IMPLIED
				toolVersion			CDATA	#IMPLIED
				>
<!ELEMENT	element	EMPTY>
<!ATTLIST	element
				type		CDATA	#REQUIRED
				filename	CDATA	#REQUIRED
				>
